RewriteEngine On

# Map http://www.example.com to /build.
RewriteRule ^$ /build/ [L]

# Map http://www.example.com/x to /build/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/build/
RewriteRule ^(.*)$ /build/$1

# Add trailing slash to directories within build
# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^build/(.*[^/])$ http://www.example.com/$1/ [R=301]


