body
  width: 100%
  margin: 0
  padding: 0

.app
  background: #E8E8E8
  font-family: Nunito, Helvetica, Arial, Lucida, sans-serif
  @media(max-width: 600px)
    font-size: .8em


.header, .component, .quiz
  background: #9559CE
  color: white
  border: 1px solid transparent
