
.images
  position: relative
  > *
    position: absolute
    left: 0
    top: 0
  .img:not(.decom)
    transition:opacity 1000ms

.pre
  position: fixed
  left: 0
  bottom: 0
  width: 50%
  overflow: hidden



