
// .wrapper

.header
  margin: 1em auto
  .img
    display: block
    margin: auto
    width: 200px
    max-width: 90%
    @media(max-width:400px)
      max-width: 50%
    // filter: drop-shadow(0 0 1px black)

.content
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  // justify-content: center
  // border: 1px dotted
  // > *
  //   border: 1px dotted

.text
  @media(min-width:400px)
    font-size: 2em
  text-align: center
  position: absolute
  width: 95%
  max-width: 800px
  color white
  text-shadow: 0 0 3px  black
  margin: auto
  @media(min-height:500px)
    top: 3em
  // background: radial-gradient(closest-side, rgb(255,255,255,.01) 0%, transparent 50%, transparent 100%)
  // background: radial-gradient(closest-side, rgb(0,0,0,1) 0%, transparent 100%)
  // padding: 2em
  // background:

.image
  z-index: -1
  .background
    z-index: -2
    position: fixed
    left: 0
    top: 0
    width: 100%
    max-width: 100%
    // filter: blur(3px)
  .foreground
    filter: drop-shadow(0 0 15px black)
    // filter: blur(1px)


.pre
  position: fixed
  left: 0
  bottom: 0
  width: 50%
  overflow: hidden



