
.div
  position: fixed
  width: 100%
  height: 100vh
  height: 100%
  top: 0
  left: 0
  // border: 50px dotted
  font-size: 2em
  text-align: center
  // background: tra(0,0,255, .6)
  background: rgba(133, 61, 141, .5)
  // backgroun-transpare

  // backdrop-filter: blur(2px)
  z-index: 1000
  // background-blend-mode: multiply




.p
  position: relative
  display: block
  margin: auto
  margin: 3em auto
  background: rgb(225, 207, 227)
  padding: 1em
  color: rgb(133, 61, 141)
  font-weight: 300

.button
  position: relative

