.container
  position: relative
  // border: 1px dotted transparent
  // border: 11px dotted yellow
  // width: 100vw
  // background: linear-gradient(to bottom, rgb(253, 251, 250) 0%, rgb(214, 206, 200) 40%)

.header
  margin: 1em auto
  position: absolute
  width: 100%
  z-index: 1
  // border 2px dotted yellow
  // left: 50%
  // margin-left: -50%
  .img
    display: block
    margin: auto
    width: 200px
    max-width: 90%
    @media(max-width:400px)
      max-width: 50%
  .compatibility &
    top calc(100vh - 100px)
    // position: relative


.content
  padding-top 5em
  position: relative
  // border: 1px dotted red
  // > *
  //   border: 1px dotted
  // height: 96vh
  height: 100%
  background-position: 50% 0
  background-size: cover
  // background-attachment: fixed
  // background-image: none!important
  margin-bottom: 10em

.content:after
  content: ' '
  // border: 3px dotted black
  display: block
  // width: 100%
  height .5em
  background-image: linear-gradient(to right, #6A2977, #009ED5)
  // position: absolute
  // bottom: -10em

for currentPercent in (1..100)
  .current-percent-{currentPercent}:before
    transition: 1000ms
    content ' '
    // border 2px dotted yellow
    width: 1% * currentPercent
    display: block
    height 2px
    background: white
    // background-image: linear-gradient(to right, #6A2977, #009ED5)
    position: absolute
    top: 0
    // bottom: -10em

.text
  // border: 2px dotted yellow
  position: absolute
  top: 0

  z-index: 1
  // .compatibility &
  //   z-index: initial

  &
  *
    width: 100%
    height: 100%
  &
    // height: 100vh
    height: calc(100vh - 20px)

  width: 80% !important
  margin-left: 10% !important
  width: 50% !important
  margin-left: 25% !important

  text-align: center

  font-size: 1.2em
  line-height: 1.5em

  // @media(min-width:400px)
  //   font-size: 2em
  // @media(min-width:1200px)
  //   font-size: 3em

  color white
  text-shadow:
    0 0 10px black,
    3px 6px 5px black,
    0px 2px 5px black,
    0 0 20px white

  // .markup
  //   position: relative
  //   width 80%
  //   margin: auto

  // display: flex
  // flex-flow: column
  // justify-content: space-around

  .markup
    // border: 2px dotted yellow
    display: flex
    flex-flow: column
    justify-content: center

  &.left
    text-align: left
  &.bottom
    .markup
      justify-content: flex-end

  // // .compatibility &
  // .compatibility & .markup
  //   // @media(orientation:portrait)
  //   //   // margin-top: 15vh
  //   //   justify-content: flex-end
  //   //   // margin-top: -10vh
  //   @media(orientation:landscape)
  //     @media(max-height:500px)
  //       font-size: .8em
  //       // justify-content: flex-end
  //     @media(min-width:1100px)
  //       // margin-top: 20vh
  //       justify-content: flex-end
  //       // margin-top: -10vh
  //     // @media(max-width:1200px)
  //     //   margin-top: 20vh


.image
  z-index: -1
  .foreground
    position: relative
    top: -80px
    opacity: .7
    // text-align: center
    width: 100%
    height: 100%
    .foreground-container
      width: 100%
      height: 100%
      *
        width: 100%
        height: 100%
      .img
        // border: 2px dotted yellow
        width: 100%
        height: 100vh
        background-repeat: no-repeat
        filter: drop-shadow(0 0 15px black)
        background-position:center
        background-size: contain
        @media(orientation:portrait)
          background-size: 60% auto
        @media(orientation:landscape)
          background-size: auto 60%
        &.top
          background-position: top
        &.bottom
          background-position:bottom 10px
        &.wide
          background-size: 100% auto
        &.fit
          background-size: 100% auto
        .compatibility &
          background-size: contain
          // background-position: 80px
          background-position: top
          // background-position: top 3%
          // background-position: 50%
          // background-position: 50% 80px
          // background-size: cover
          @media(max-width:800px)
            background-size: auto 300px
          @media(max-width:600px)
            background-size: 150% auto
          // background-size: 80%
          // &:not(.top)
          // @media(orientation:portrait)
          //   @media(min-height:1000px)
          //     margin-top: 15vh



.play-pause
  position: absolute
  top:50vh
  left:50vw
  margin-left: -2.5vw
  margin-top: -2.5vw
  filter: drop-shadow(0 0 3px white)
  z-index: 2
  cursor: pointer
  width: 0
  height: 0
  border-top: 2em solid transparent
  border-left: 3em solid #000
  border-bottom: 2em solid transparent
  &:not(.visible)
    display: none


a.button
  text-decoration: none

.action-1
  // border: 1px dotted
  // > *
  //   border: 1px dotted
  border-radius: 50px
  background: linear-gradient(to right, #863981, #CA2D82)
  box-shadow: 20px 20px 20px rgb(0,0,0,.4)
  width: 80%
  max-width: 1000px
  height 13em
  // height 20vw
  align-items: flex-end
  margin: auto
  display: flex
  position: relative
  padding: 1em
  // padding: 1vw
  > .img
    width: 40%
    height: auto
    @media(max-width:650px)
      display: none
  > .div
    margin-left: -4em
    margin-left: -10%
    width: 60%
    @media(max-width:650px)
      width: 100%
      margin-left: 0

    font-size: 2em
    @media(max-width:900px)
      font-size: 1.8em

    > .p
      color white
      text-shadow: 0 0 3px black, 0 0 5px white, 2px 2px 3px black
      // @media(max-width:1068px)
      //   font-size: .8em
    text-align: center
    // position: relative
    // right -25%
    // margin: 1em auto
    > a .button
      cursor: pointer
      text-shadow: 0 0 3px white
      font-size: 1.3em
      // font-size: 1.3vh
      background: linear-gradient(to right, #E4C22C, #F8B144)
      border-radius: 50px
      box-shadow: 10px 10px 10px rgb(0,0,0,.4)
      padding .5em
      @media(max-width:1000px)
        padding .1em
      &:active
        box-shadow: 0 0 10px rgb(0,0,0,.4)
      @media(max-width:1068px)
        font-size: .8em
        padding .2em .5em
        margin-bottom: 1em



.testimonial
  // border 1px solid
  // > *
  //   border 1px solid
  // @media(min-width:400px)
  margin: 10vh auto
  display: flex
  align-items: center
  justify-content: space-around
  text-align: center
  > *
    width 100%
    max-width 100% !important
  .p
    font-size: 2em
    // @media(min-width:900px)
    @media(min-width:900px)
      width: 50%
    // @media(min-width:400px)
    //   padding 1em
  .youtube
    margin: 1em
    // flex-shrink: 2
    @media(min-width:900px)
      width: 60%
    iframe
      max-width 100% !important
  @media(max-width:900px)
    flex-direction: column



.action-2
  // border: 2px dotted
  display: flex
  align-items: center
  position: relative
  max-width: 900px
  margin: auto
  @media(max-width:900px)
    flex-direction: column
  > *
    // border: 1px dotted
    @media(min-width:900px)
      width 50%
  > .img
    pointer-events: none
    position: relative
    // @media(min-width:900px)
    //   right: -10px
    > .img
      width: 600px
    z-index: 1
    // text-align: right
    // right: 50%
  > .side
    position: relative
    @media(min-width:900px)
      left: -40px
    border-radius: 30px
    background: linear-gradient(to bottom, rgb(253, 251, 250) 0%, rgb(214, 206, 200) 40%)
    text-align: center
    padding: 1.3em
    font-size: 1.4em
    > .heading
      background: #6A2977
      color: white
      padding: 1em 2em
      // margin: 1em
    > .delivery
      font-size: .8em
      font-weight: bold
      // border 1px solid
      display: flex
      > *
        width: 50%
        margin 1em .25em
      > .label
        text-align: right
      > .data
        text-align: left

    .button
      cursor: pointer
      font-size: 1.5em
      font-weight: bold
      padding: 1em 2em
      border-radius: 30px
      &:not(:active)
        box-shadow: 5px 5px 15px black
      background: orange
    .shield
      margin-top: 2em
      font-size: .6em
      .img
        max-width: 3em
    .footer
      font-size: .6em

.ribbon
  margin-top 2em
  background: #6A2977
  text-align: center
  .img
    max-width: 100px
    margin-top: 1em
  color white
  font-size: 1.2em
  padding: 1em 2em

.pre
  position: fixed
  left: 0
  bottom: 0
  width: 50%
  overflow: hidden


