
.header
  font-size: .8em
  text-align: center

.img
  max-width: 90%

.p
  line-height: .8em

.heading
  font-size: 2em
  text-align: center
  font-weight: bold
  line-height: .5em

.subtitle
  font-size: 1.5em
  font-weight: bold

.subtext
  font-size: .75em
  font-weight: lighter

