.outer
  // background: #9559CE
  background: transparent
  // padding-top: 100px

.container
  null what
  background: #E8E8E8
  border-top: 10px solid #14CCA7
  position: relative
  // position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  > *
    margin: auto
  .img
    null what
    // border: 2px dotted #14CCA7
    // display: block
    height: 150px
    display: block
    top: -80px
    // margin-top: 100px
    position: absolute
    left: 50%
    margin-left: -75px
    // position: absolute
  .heading
    null what
    font-size: 2em
    font-weight: bold
    margin-top: 100px
    text-align: center
  padding-bottom: 2em



.fb-comments
  null what
  width: 100% !important
  display: block !important
  max-width: 900px !important
  > span
    null what
    width: 100% !important
    display: block !important
    > *
      display: block !important
      margin: auto !important
      width: 100% !important
      margin: auto !important
