.progress-bar {
  -webkit-appearance: none;
  width: 95%;
  margin: -3.1px 0;
  background: #9559CE
}
.progress-bar:focus {
  outline: none;
}
.progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #E8E8E8;
  border-radius: 10px;
  border: 0px solid #010101;
}
.progress-bar::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  // border: 2.9px solid #941e00;
  height: 1.5em;
  width: 34px;
  border-radius: 28px;
  background: #81D742
  cursor: pointer;
  -webkit-appearance: none;
  // margin-top: -3.1px;
}
.progress-bar:focus::-webkit-slider-runnable-track {
  // background: #572f36;
}
.progress-bar::-moz-range-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #E8E8E8;
  border-radius: 10px;
  border: 0px solid #010101;
}
.progress-bar::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  // border: 2.9px solid #941e00;
  height: 1.5em;
  width: 34px;
  border-radius: 28px;
  background: #81D742;
  cursor: pointer;
}
.progress-bar::-ms-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.progress-bar::-ms-fill-lower {
  background: #E8E8E8;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.progress-bar::-ms-fill-upper {
  background: #E8E8E8;
  border: 0px solid #010101;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.progress-bar::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.49), 0px 0px 1.8px rgba(255, 26, 26, 0.49);
  // border: 2.9px solid #941e00;
  width: 34px;
  border-radius: 28px;
  background: #81D742;
  cursor: pointer;
  height: 1.5em;
}
.progress-bar:focus::-ms-fill-lower {
  background: #E8E8E8;
}
.progress-bar:focus::-ms-fill-upper {
  // background: #572f36;
}
