@import './progress-bar.styl'

.container
  max-width: 900px
  margin: auto

.intro
  text-align: center
  width: 100%
  display: flex
  // align-self: stretch
  justify-content: space-around
  // margin: 1em 0
  > .p:before
    display: block
    text-align: center
    font-size: 5em

.form
  // border: 2px dotted black
  width: 100%
  display: flex
  flex-direction: column
  > *
    margin: 1em auto

.li
  display: flex
  flex-direction: column
  margin: 1em

.question
  display: flex
  flex-direction: column
  background: #E8E8E8
  font-weight: bold

  .question
    align-self: center
    text-align: center
    color: black
    padding: .5em 10%
    font-size: 1.5em

.answer
  display: block
  // border: 2px dotted red
  background: #E8E8E8
  font-weight: bold
  margin: 1em auto
  padding: 1em auto
  color: black
  .input
    margin: 1em

.ol
  // border: 2px dotted red
  position: relative
  // height: 30em
.li
  transition:opacity 1000ms
  position: absolute
  width: 96%
  &:not(.visible)
    opacity: 0
  &.visible
    opacity: 1
    z-index: 2
    .answer:hover
      cursor: pointer

.ol, .ul
  margin: 0
  padding: 0
  list-style: none inside
  // margin-bottom: 7.5em

.li .order
  display: none
  padding-right: .5em
  // font-size: .9em
  font-family: monospace
  &:after
    content: ':'



