<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>What's Your Archetype?</title>
    <link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.1/load8.css' />
    <% htmlWebpackPlugin.files.css.forEach(css => { %>
    <link type='text/css' rel='stylesheet' href='<%= css %>' lazyload>
    <% }) %>
  </head>
  <body>
    <div id='loading' class='loading'></div>
    <div id='app'></div>
    <% htmlWebpackPlugin.files.js.forEach(js => { %>
    <script type='text/javascript' src='<%= js %>' defer></script>
    <% }) %>
    <script defer src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=247959338893932'></script>
  </body>
</html>
